.bioText,
.upload {
  font-size: 30px;
  font-weight: bolder;
  color: darkgreen;
}

.bioGroup {
  margin-bottom: 30px;
  margin: 0 20px 30px 20px;
}

.bioForm {
  background-color: rgba(60, 241, 69, 0.17);
  border-style: dashed;
  border-radius: 30px;
  box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.337);
  transition: 0.3s;
}

.bioSubmit {
  width: fit-content;
  margin: 0 auto;
  background-color: darkgreen !important;
}

.editHeading{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}