.dashpage{
  background-color: rgb(228, 200, 224);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  #dashwelcome {
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 126, 142);
    color: rgb(247, 248, 206);
    text-indent: 20px;
    font-size: 32px;
    
  }

  #first {
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

#card1 {
  border: solid grey 1px;
  background-color: rgb(247, 248, 206);
}

  #head1 {
    background-color:rgba(255, 192, 203, 0.709);
  }
  

  #head2 {
    background-color:rgba(255, 192, 203, 0.709);
  }

 

  #propic{
    align-self: center;
    height: 270px;
  }

  #second{
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
  }



  #shell {
    flex-wrap: wrap;
  }
  #connectTitle {
    text-align: center;
    background-color:rgba(255, 192, 203, 0.709);
  }
  
 
  
  #profileSnip {
    flex-direction: column;
    align-content: center;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #usersPicture {
    margin-top:0;
    padding-top:0;
    border-top: 0;
    display: flex;
    height: 280px;
    width: 190px;
    border-radius: 50%;
    align-self: center;
  }
  
  #usersPicture img{
    border-radius: 50%;
  }
  
  .dashDetails{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 13px;
    font-style: italic;
  }
  
 #card2 {
  border: solid grey 1px;
  background-color: rgb(247, 248, 206);
 } 
 
  #bioSnip h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic;
  }

  #imgBtn {
    background-color: rgb(151, 127, 127);
    border: rgb(31, 30, 30) solid 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #card3{
    border: solid grey 1px;
    background-color: rgb(247, 248, 206);
  }
  
  #connectionList {
    display: flex;
    width: 18%;
    height: 60vh;
    border-left: solid lightgrey 1px;
    flex-direction: column;
    align-content: center;
  }
  
  #connectionList h3{
    margin-left:10px;
    width: 300px;
    text-align: center;
  }
  
  #dashFriends {
    width: 16vw;
    justify-content: center;
    margin-left: 20px;
  }
  
  .sliderimg {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  
  #connectionRequest {
    margin-top: 1vh;
    height: 19vh;
  }
  
  .sliderimgDash{
    width: 20vw;
  }
  
  .carousel-indicators li {
    background-color: grey !important;
  }
  
  .imgSlider {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
  }
  
  #bioDiv {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
  }
  
  #bioDiv Button {
    margin-top: 1vh;
    max-width: 6vw;
    max-height: 4vh;
    font-size: 15px;
  }
  
  .imgUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
  
  .imgInput {
    display: flex;
    flex-direction:column;
    justify-content: center;
    
  }
  .imgInput Button {
    margin-top: 1vh;
    max-width: 5vw;;
  }
  
  .imgInput {
    display: flex;
    border: 1px black solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 15px;
    align-items: center;
  }

  .dashpage {
    justify-content: flex-start;
  }