.loginImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.bothForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px 5px rgba(253, 166, 166, 0.708);
  transition: 0.3s;
}

.imageContainer {
  max-width: 100%;
  box-shadow: 0 10px 10px 5px rgba(253, 166, 166, 0.708);
  transition: 0.3s;
}

@media screen and (max-width: 770px) {
  .formandImage {
    display: flex;
    flex-direction: column;
  }
}
